body {
  font-family: 'Poppins', sans-serif;
}

.nav-title {
  font-weight: 700;
  font-size: 24px;
}

.about-text {
  font-weight: 700;
  font-size: 20px
}

.button-text-aboutme {
  font-size: 40px;
  font-weight: 700;
}

.button-text {
  font-size: 15px;
  font-weight: 700;
}

.image-caption {
  font-size: 14px;
  font-weight: 500;
}

.main-title {
  font-size: 40px;
  font-weight: 700;
}

.heading-text {
  font-size: 30px;
  font-weight: 700;
}

.subheaderfortitle-text {
  font-size: 20px;
  font-weight: 700;
  padding:20px;
}

.subheader-text {
  font-size: 20px;
  font-weight: 700;
}

.sub-subheader-text {
  font-size: 18px;
  font-weight: 600;
}

.body-text {
  font-size: 16px;
  font-weight: 500;
}

.date-text{
  font-size: 14px;
  font-weight: 400;
}

.project-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.project-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
